<div
	class="pjs-box pjs-skill linkable"
	style="position: relative; {{#if style}}{{style}};{{/if}}{{#if offset}} margin-left: {{math offset "*" 20}}px{{/if}}"
	data-toggle="popover"
	phs="{{totalcost}}"
	sid="{{id}}"
	parent="{{skill_id}}"
>
    {{> effects float="right" effects=effect}}
    {{> skill-icon}}
    <div>
    	{{#if totalcost}}<span class="tag tag-primary" title="{{totalcost}} Puntos de Habilidad">{{totalcost}}PHs</span> {{/if}}
    	{{#if hot}} <span class="tag tag-danger" title="Recomendada">Hot</span>{{/if}}
        <strong>{{name}}</strong>

        <br />
        <span style="color: darkgray">{{{iconize-type type}}}{{#if category}}, {{category}}{{/if}}</span>
    </div>
</div>
