<div 
	class="pjs-box pjs-class linkable" 
	{{#if style}}style="{{style}}"{{/if}} 
	{{#if type}}
		cid="{{id}}" 
	{{else}}
		aid="{{id}}" 
	{{/if}} 
	data-toggle="popover" 
>
	{{#if button}}
	<div style="float: right">
		<button title="Crear personaje" class="btn btn-outline-success btn-sm"><i class="ra ra-lg ra-player"></i></button>
	</div>
	{{/if}}
	{{> class-icon}}
	<strong>{{name}}</strong>
	<br />
	<span style="color: darkgray">
		{{#if type}}
			{{type}}
		{{else}}
			Arquetipo
		{{/if}}
	</span>
</div>