<div class="row">

	<div class="col-md-8">
		<div>
			{{> effects float="right" effects=effect}}
		    {{> skill-icon}}

			<h2>{{name}}</h2>
			<span style="color: darkgray">
				<strong>Tipo:</strong>
				{{{iconize-type type}}}{{#if category}}, {{category}}{{/if}}
			</span>
		</div>

		<div class="pjs__description">
			{{{description}}}
		</div>

		{{> skill-letany}}

		<br/>

		<p><a class="linkable list-link" tabindex>Ver Lista Completa</a></p>
	</div>

	<div class="col-md-4">
		{{#if category}}
			<div class="skill__requirement">
				<strong>Requisito:</strong>
				{{#each skill}}
			    {{> skill-box style="float: none; width: 235px; margin: 0"}}
			  {{else}}
			  	Ninguno.
			  {{/each}}
			</div>
		{{/if}}

		<div>
			<strong>Disponible para:</strong>
			<div class="skill__availability"></div>
		</div>
	</div>

</div>
